<h1>Create an account</h1>

<div class="login_form">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <p>
	<% if not @user.facebook_id %>
	  <%= link_to "Link Facebook account", user_omniauth_authorize_path(:facebook) %>
	<% else %>
	  Facebook account linked!
	<% end %>
	|
	<% if not @user.linked_in_id %>
	  <%= link_to "Link LinkedIn account", user_omniauth_authorize_path(:linked_in) %>
	<% else %>
	  LinkedIn account linked!
	<% end %>
	</p>
  
  <p><%= f.label :name %><br />
  <%= f.text_field :name , {:autofocus => '', :required => 'true'}%>

  <p><%= f.label :email %><br />
  <%= f.text_field :email, {:type => 'email', :required => 'true'} %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, {:required => 'true'} %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, {:required => 'true'} %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>