<div id="header">
  <h1>Search</h1>
</div>

<div id="map">
</div>

<script>
var q = "<%= @query %>";
var l = "<%= @location %>";
var query_path = "<%= results_path %>";
var contact_path = "/fb_contacts";
var delayLoad = "<%= @delayLoad %>";

var map;
var markers = [];
var open_windows = [];
var index = 0;
var contacts = [];
var cmarkers = [];


function loadMap() {
  var center = new google.maps.LatLng(39.109, -94.589);
  
  var options = {
    zoom: 4,
    center: center,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    mapTypeControl: false,
    streetViewControl: true
  };
  
  map = new google.maps.Map($("div#map").get(0), options);
  if (delayLoad == '') {
    loadResults(map);
  }
}

function syncGeocoding(c) {
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode( {'address' : c.location}, function(latlngs, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({
        map: map,
        animation: google.maps.Animation.DROP,
        position: latlngs[0].geometry.location,
        title: c.name
        });
      cmarkers.push(marker);
    }
    else {
      c = c
    }
    if (index < contacts.length-1) {
      setTimeout(function() {      
        syncGeocoding(contacts[++index]);
      }, 500);
    }
  });    
}

function loadContacts() {
  $.ajax({
    url: contact_path,
    type: 'get',
    data: {},
  
    success : function(results, req, status) {
      for (var i = 0; i < results.length; i++) {
        if (results[i].facebook_contact.location && !(results[i].facebook_contact.location == '')) {
          contacts.push(results[i].facebook_contact);      
        }
      }
      syncGeocoding(contacts[index]);
    }
  });
}
      



function loadResults() {
  $.ajax({
    url : query_path,
    type : 'get',
    data : {'q' : q, 'l' : l},
    
    success : function(results, req, status) {
      var bounds = new google.maps.LatLngBounds();
      for (var i = 0; i < results.length; i++) {
        job = results[i].job;
        
        if (job.lat == null || job.long == null) {
          continue;
        }
        
        var marker = new google.maps.Marker({
          map: map,
          animation: google.maps.Animation.DROP,
          position: new google.maps.LatLng(job.lat, job.long),
          title: job.title + ' - ' + job.company 
        });
        
        createInfoWindow(job, marker, map);
        
        bounds.extend(marker.position);
        
        markers.push(marker);
      }
      map.panToBounds(bounds);
      map.fitBounds(bounds);
      parent.transitionToResults();
    }
  });
}

function clearResults() {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
  markers = [];
}

function createInfoWindow(job, marker, map) {
  var contentString = '<div class="marker"><p><strong><a href="'+job.source+'">' + 
      job.title+'</a></strong><br />'+job.company+'<br />'+
      job.desc+'<br /><em>'+job.city+', '+job.state+'</em>'+' '+job.date+"</p></div>";
  
  marker.infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  
  google.maps.event.addListener(marker, 'click', function() {
    while (open_windows.length > 0) {
      open_windows.pop().close();
    }
    open_windows.push(marker.infowindow);
    marker.infowindow.open(map, marker);
  });
}

</script>

<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false&callback=loadMap' %>
