<%= form_for @user do |form| %>
	<% if @user.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@user.errors.count, "error") %> occured:</h2>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	
	<p><%= link_to "Link Facebook account", user_omniauth_authorize_path(:facebook) %>
	  <%= link_to "Link LinkedIn account", user_omniauth_authorize_path(:linked_in) %></p>

	<%= form.label :name %>
	<%= form.text_field :name %>
	<br />
	<%= form.label :email %>
	<%= form.text_field :email %>
	<br />
	<%= form.label :password %>
	<%= form.password_field :password %>
	<br />
	<%= form.label :password_confirmation %>
	<%= form.password_field :password_confirmation %>
	<%= form.submit %>
<% end %>