<%= form_for @user do |form| %>
	<% if @user.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@user.errors.count, "error") %> occured:</h2>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<%= form.label :firstName %>
	<%= form.text_field :firstName %>
	<br />
	<%= form.label :lastName %>
	<%= form.text_field :lastName %>
	<br />
	<%= form.label :email %>
	<%= form.text_field :email %>
	<br />
	<%= form.label :password %>
	<%= form.text_field :password %>
	<br />
	<%= form.submit %>
<% end %>