<h1>User#create</h1>

<%= form_for @user do |form| %>
	<%= form.label :firstName %>
	<%= form.text_field :firstName %>
	<br />
	<%= form.label :lastName %>
	<%= form.text_field :lastName %>
	<br />
	<%= form.label :email %>
	<%= form.text_field :email %>
	<br />
	<%= form.label :password %>
	<%= form.text_field :password %>
	<br />
	<%= form.submit %>
<% end %>