<h1>User#display</h1>

<p>
	<%= link_to 'Edit', :action => 'edit' %> 
	<%= link_to 'Delete', @user, :method => :delete %>
</p>

<p><%= @user.name %>  (<%= @user.email %>)</p>
<p><strong>Facebook ID:</strong> <%= @user.facebook_id %></p>
<p><strong>LinkedIn ID:</strong> <%= @user.linked_in_id %></p>