<div id="reset">
  <div id="pagetitle">
    <h1>Forgot your password?</h1>
  </div>

  <div class="form">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <p><br/><br/><%= f.label :email %>
      <%= f.text_field :email %></p>

      <p><%= f.submit "Send reset instructions" %></p>
    <% end %>
  </div>
</div>