<div id="logo">
<h1>Jobography</h1>
</div>

<div id="inputform">
<%= form_tag search_path, :method => "get" do %>
  Find me a 
  <%= text_field_tag :q, "", {:placeholder => "what"} %> job near
  <%= text_field_tag :l, "", {:placeholder => "where (optional)"} %>
  <%= submit_tag "go!", {:class => "button"} %><br /> 
<% end %>
</div>

<% if @recent_searches.length >= 2 %>
  <div id="recent">
    <p>How about <%= raw recent_search_link(@recent_searches[0]) %></p>
    <p>Or maybe <%= raw recent_search_link(@recent_searches[1])%></p>
  </div>
<% end %>

<div id="infotext">
  <p>Jobography helps you find jobs where you want to live.</p>
</div>
