<div id="logo">
<h1>Jobography</h1>
</div>

<div id="inputform">
<%= form_tag search_path, :method => "get" do %>
  Find me a 
  <%= text_field_tag :q, "", {:placeholder => "what"} %> job near
  <%= text_field_tag :l, "", {:placeholder => "where (optional)"} %>
  <%= submit_tag "go!", {:class => "button"} %><br /> 
<% end %>
</div>

<% if @recent_searches.length >= 2 %>
  <div id="recent">
    <p>How about <%= raw recent_search_link(@recent_searches[0]) %></p>
    <p>Or maybe <%= raw recent_search_link(@recent_searches[1])%></p>
  </div>
<% end %>

<div id="infotext">
  <p>Find out where all the jobs you want are. &nbsp;<%= link_to 'Link your Facebook account', new_user_registration_path, {:id => "sign_up"} %> and see where your contacts have worked. &nbsp;Use your network to choose the best places to get a job. &nbsp; Jobography helps you <strong>work where you want to be.</strong></p>
</div>
