<!DOCTYPE html>
<head>
<title>Jobography</title>

<%= stylesheet_link_tag :all %>

<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'urlEncode.js' %>
<%= javascript_include_tag 'wrapper.js' %>

<%= csrf_meta_tag %>
</head>

<body>

<div id="window">
  <div id="logintab">
    <% if user_signed_in? %>
      Hello, <%= current_user.name %> <br/>
      <%= link_to 'Log out', destroy_user_session_path %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, {:id => "sign_in"} %> |
      <%= link_to 'Sign up', new_user_registration_path, {:id => "sign_up"} %>
    <% end %>
  </div>
  
  <div id='frame'>
    <iframe id='login' src='/users/sign_in'></iframe>
    <iframe id='home' src='/home/home'></iframe>
    <iframe id='map' src='/search?delayLoad=true'></iframe>
    <iframe id='signup' src='/users/sign_up'></iframe>
  </div>
  
  <div id="footer">
    <a href="mailto:mboyd@mit.edu?Subject=Jobography%20Feedback">Contact us!</a>
  </div>
</div>

</body>
</html>