<!DOCTYPE html>
<head>
<title>Jobography</title>

<script>
if (window != window.top) { // In frame, need to break out
  parent.window.location.reload(true);
}
</script>

<%= stylesheet_link_tag 'wrapper.css' %>
<%= stylesheet_link_tag 'default.css' %>
<%= stylesheet_link_tag 'home.css' %>

<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'urlEncode.js' %>
<%= javascript_include_tag 'wrapper.js' %>

<%= csrf_meta_tag %>
</head>

<body>

<div id="window">
  <div id="logintab">
     <% if user_signed_in? %>
       Hello, &nbsp;<%= current_user.name %> &nbsp; | &nbsp;
       <%= link_to 'Edit account', edit_user_registration_path, {:id => "edit_account" }%>
       &nbsp; | &nbsp; <%= link_to 'Log out', destroy_user_session_path, {:id => "sign_out"} %>
     <% else %>
       <%= link_to 'Sign in', new_user_session_path, {:id => "sign_in"} %> |
       <%= link_to 'Sign up', new_user_registration_path, {:id => "sign_up"} %>
     <% end %>
   </div>
  
  <div id='frame'>
    <% unless current_user %>
      <iframe id='login' src='/users/sign_in'></iframe>
      <iframe id='signup' src='/users/sign_up'></iframe>
    <% end %>
    
    <iframe id='home' src='/home/home'></iframe>
    <iframe id='map' src='/search?delayLoad=true'></iframe>

  </div>
  
  <div id="footer">
    <a href="mailto:jobography@mit.edu?Subject=Jobography%20Feedback">Contact us!</a>
  </div>
</div>

</body>
</html>