<!DOCTYPE html>
<html>
<head>
  <title>Jobography</title>
  <%= stylesheet_link_tag 'wrapper.css' %>
  <%= stylesheet_link_tag 'default.css' %>
  <%= stylesheet_link_tag 'home.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if notice or alert %>
  <div id="notice">
    <p><%= notice %></p>
    <p><%= alert %></p>
  </div>

  <script type="text/javascript">
  setTimeout(function() {
    $("div#notice").slideUp('slow')
  }, 3000);
  </script>
<% end %>

<div id="logintab">
   <% if user_signed_in? %>
     Hello, <%= current_user.name %> <br/>
     <%= link_to 'Log out', destroy_user_session_path, {:id => "sign_out"} %>
   <% else %>
     <%= link_to 'Sign in', new_user_session_path, {:id => "sign_in"} %> |
     <%= link_to 'Sign up', new_user_registration_path, {:id => "sign_up"} %>
   <% end %>
 </div>


<%= yield %>

<div id="footer">
  <a href="mailto:jobography@mit.edu?Subject=Jobography%20Feedback">Contact us!</a>
</div>

<script>
if (window != window.top) { // In frame
  $('div#logintab').css({display: 'none'})
  $('div#footer').css({display: 'none'})
}
</script>
</body>
</html>
