<!DOCTYPE html>
<html>
<head>
  <title>Six470</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p>
  <% if current_user %>
    Hello <%= current_user.firstName %> <%= current_user.lastName %>
  <% else %>
    Not logged in
  <% end %>
</p>

<%= yield %>

</body>
</html>
